@mixin box{
	background: rgb(255, 210, 77);;
	// border: 1px solid black;
	padding: $space;
	margin-bottom: $space;
	margin-right: $sideR;
	margin-left: $sideL;
}

@mixin box2{
	background: #fc8d9c;
	// border: 1px solid black;
	padding: $space;
	margin-bottom: $space;
	margin-right: $sideR;
	margin-left: $sideL;
}

@mixin box3{
	background: #4bb305;;
	// border: 1px solid black;
	padding: $space;
	margin-bottom: $space;
	margin-right: $sideR;
	margin-left: $sideL;
}
