//google fonts
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Emilys+Candy|Gabriela|Marck+Script|Megrim|Spicy+Rice|Unkempt&display=swap');

//base styles
$font: 'Gabriela', ariel;
$headfont: 'Montserrat', sans-serif;
$bgcolor: pink;
$space: 30px;
$sideR: 30px;
$sideL: 30px;

